* {
  margin-top: 40px;
}

.floating-buttons {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.call-btn,
.whatsapp-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 26px;
  text-decoration: none;
}

.call-btn {
  background: black;
}

.whatsapp-btn {
  background: #25D366;
}

@media(max-width: 768px) {

  nav {
    display: none;
  }

  .hero-content h1 {
    font-size: 38px;
  }

  .hero-content p {
    font-size: 18px;
  }

  .hero-buttons {
    flex-direction: column;
  }

  .section-title h2 {
    font-size: 32px;
  }

}
